.navbarContainer {
    height: 4vw;
    display: flex;
    gap: 2vw;
    padding-right: 1vw;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: #daa125;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.linkButton:hover {
    text-decoration: underline;
}

#logo {
    padding-left: 1vw;
    margin-right: auto;
    font-size: 2vw;
    color: teal;
    font-weight: bold;
}

#dashButton {
    background-color: black;
    color: white;
    padding: 0.5vw;
}

